
       
           <div id="tagline">
              <div class="slogan">
                <p>Welcome to Shiqian's Portfolio Site</p>
              </div>
              <div class="action-button">
                   <%= link_to "View My Work", portfolio_path %>
              </div>
            </div>
<div class="content">
  <div class="section-title">
    <br/><h2>My Recent Work</h2>
    <p>Updated work and ideas from Shiqian. These are what I have been working on recently.<br/>Let me know if you like to learn more about me or my <em><%=link_to "work", portfolio_path%></em>.</p>
    </div>
<div class="section group">
    
    <div class="col span_1_of_3">
      <img src="https://photos-2.dropbox.com/t/2/AABLUNNfapdb9FArNuc8Y9Nu2jMaxgrPrC05EtSD_TH55A/12/109162459/jpeg/32x32/1/_/1/2/ttw-ss.jpg/EMvYtVQY-aYBIAEoAQ/knSfTosKDcrCw9f4WoRsxMMmAlMY7nmGpWehOY7QLvw?size=1024x768&size_mode=2" />
      <p class="section-subtitle">E-commerce Website Development</p>
      <p class="section-description">Shopify based e-commerce website redesign and development for Try The World Inc in New York City.</p>
    </div>
     <div class="col span_1_of_3">
      
    </div>
      <div class="col span_1_of_3">
      
    </div>
</div>
</div>
      
        