<div class="content">
<div class="section group">
    <div class="col span_1_of_3">
      hello
    </div>
     <div class="col span_1_of_3">
      hello
    </div>
      <div class="col span_1_of_3">
      hello
    </div>
</div>
</div>